@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Patient Add";
}

@model Asp.Net_MvcWeb_Pj3.Aptech.Models.Patient

@* ràng buộc thẻ input vào entity class *@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="ui container">
    <div class="ui segments">
        <div class="ui segment">
            <h5 class="ui header">
                <i class="icon plus"></i>Form Add Patient
            </h5>
        </div>
     
        <h2>Add Patient</h2>

        <form asp-action="PatientAdd" method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Year"></label>
                <input asp-for="Year" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Height"></label>
                <input asp-for="Height" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Boold_Type"></label>
                <input asp-for="Boold_Type" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="GenDer"></label>
                <input asp-for="GenDer" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Status"></label>
                <input asp-for="Status" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ImportDate"></label>
                <input asp-for="ImportDate" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ExportDate"></label>
                <input asp-for="ExportDate" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="PublisherId"></label>
                <select asp-for="PublisherId" asp-items="@(new SelectList(ViewData["publisherList"] as List<Asp.Net_MvcWeb_Pj3.Aptech.Models.Publisher>, "Id", "Name"))" class="form-control"></select>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
